In [8]:
a=5
b=8
c=a*b
print(c)

40

In [7]:
a="akash"
b=a*5
print(b)

akashakashakashakashakash

In [6]:
a="akash"
b="sharma"
c=a+b
print(c)

akashsharma

In [5]:
a=5
b=3
a>b

True

In [1]:
name="Akash"
fact="Fool"
print(name," is a ", fact)

Akash  is a  Fool

In [2]:
name="Akash"
fact="Fool"
print(name + " is a " + fact)

Akash is a Fool

In [3]:
num1=3
num2=5
answer=num1+num2-num1
print(answer)

5

In [2]:
job=input("Enter your job details")
satisfy=input("Are you satisfy with your job? Yes or Not")
name=input("Enter Name")
print(name +" who is working as a " + job + " is " + satisfy+ " satisfy ")

Enter your job detailsplumber
Are you satisfy with your job? Yes or Notyes
Enter Nameakash
akash who is working as a plumber is yes satisfy

In [10]:
name=input("Enter your number:")
print(10 + int(name))

Enter your number:22
32

In [11]:
print("Akash",3,"Sharma")

Akash 3 Sharma

In [12]:
totalcost=5.5
username=input("enter your name")
print(username,"- the total is $",totalcost,"for todays purchase")

enter your nameakash
akash - the total is $ 5.5 for todays purchase

In [3]:
#converting a decimal to binary/binary represents by "0b"
bin(25)

'0b11001'

In [4]:
#converting a binary to decimal,binary represents by "0b"
0b11001

25

In [5]:
#converting a decimal to octal,octal represents by"0o"
oct(25)

'0o31'

In [6]:
#converting a octal to decimal,octal represents by"0o"
0o31

25

In [9]:
#converting a octal to hexadecimal,hexadecimal represents by"0x" and converting a hexadecimal to octal
print(hex(25))
print(0xf)

0x19
15

In [12]:
# Complement(~)Bitwise operators
~12

-13

In [13]:
#Bitwise AND operators
12 & 13

12

In [14]:
#Bitwise OR operators
12 | 13

13

In [15]:
#Bitwise XOR operators
12 ^ 13

1

In [13]:
# using the quotation sign("/')
print('it is"time to play')

it is"time to play

In [17]:
# using stride as for loop to reverse the string
akash = input("Entered the string:")
print(akash[::-1])

Entered the string:akash
hsaka

In [7]:
# if else statement
name=str(input("Enter the Name:"))
type("name")
a=int(input("Enter first digit:"))
b=int(input("Enter the second digit:"))
c=int(input("Enter the second digit:"))
d=a+b
if d==c :
    print("yehh!")
else:
    print("ohhh!")

Enter the Name:y
Enter first digit:6
Enter the second digit:2
Enter the second digit:8
yehh!

In [1]:
# if else statement
a=int(input("Enter first digit"))
b=int(input("Enter the second digit"))
if a>b :
    print("condition true")
else:
    print("conditon false")

Enter first digit5
Enter the second digit6
conditon false

In [ ]:
# if else statement
a=int(input("Enter first digit:"))
b=int(input("Enter the second digit:"))
if a==b and b==a:
    print("yes")
else:
    print("no")

In [6]:
# type function to find the type of the variable or data
type("akash")

str

In [15]:
#programm to find the average of the input digit
a=int(input("Enter the First Digit"))
b=int(input("Enter the Second Digit"))
c=int(input("Enter the Third Digit"))
d=int(input("Enter the Fourth Digit"))
total = a+b+c+d
average = total/4
print("The average is " + str(average))

Enter the First Digit5
Enter the Second Digit6
Enter the Third Digit1
Enter the Fourth Digit5
The average is 4.25

In [20]:
#"," comma as a space between to variable
a="shubham"
b="sharma"
print(a,b)

shubham sharma

In [22]:
#using the quatation 
print('Ramma said "My self RAMMMA"')

Ramma said "My self RAMMMA"

In [3]:
# .isalpha() keyword to check the string is in  alphabatic charecter form b/w range of [A-b],[a-z] 
akash="hello"
akash.isalpha()

True

In [25]:
# .isalpha() keyword to check the string is in  alphabatic charecter form b/w range of [A-b],[a-z]
akash="3"
akash.isalpha()

False

In [28]:
# .isalum() keyword to check the exsistence of atleast one digit/numberic in the string
akash="akash1"
akash.isalnum()

True

In [35]:
# .isalum() keyword to check the exsistence of atleast one digit/numberic in the string
akash="8847563677"
akash.isalnum()

True

In [36]:
# .istitle() keyword to check that string should be in 'title' format  i.e. first letter of the each word should be capital
akash="There is a dog"
akash.istitle()

False

In [37]:
# .istitle() keyword to check that string should be in 'title' format  i.e. first letter of the each word should be capital
akash="There Is A Dog"
akash.istitle()

True

In [44]:
# .isdigit() keyword to check that string should be in integr/numberic format
akash="16446445"
akash.isdigit()

True

In [45]:
# .isupper() keyword to check that string is in upper/all the cahrecter shoulb be in capital format 
akash="CAPITALIZATIOM"
akash.isupper()

True

In [46]:
# .isupper() keyword to check that string is in upper/all the charecter shoulb be in capital format 
akash="akash"
akash.isupper()

False

In [47]:
# .islower() keyword to check that string is in lower/all the charecter shoulb be in small format 
akash="akashsharma"
akash.islower()

True

In [48]:
# .islower() keyword to check that string is in lower/all the charecter shoulb be in small format 
akash="AKASH SHARMA"
akash.islower()

False

In [51]:
# .startswith(condition) to check that the string is starting with the given condition or not
akash="hello my name is akash sharma"
akash.startswith("h")

True

In [53]:
# .capitalize() to capitalize the first letter of the string
akash="akash"
akash.capitalize()

'Akash'

In [55]:
# .lower() to make the string in lower case
akash="AKASH SHARMA"
akash.lower()

'akash sharma'

In [56]:
# .upper() to make the string in upper case
akash="akash sharma"
akash.upper()

'AKASH SHARMA'

In [57]:
# .swapcase() to swap the cases of string is upper to lower and lower to upper
akash="AKASH sharma"
akash.swapcase()

'akash SHARMA'

In [59]:
# .title() to capitalise the first charecter of each word i.e. first charecter after every space 
akash="it is akash sharam"
akash.title()

'It Is Akash Sharam'

In [65]:
# .title() to capitalise the first charecter of each word i.e. first charecter after every space 
name=input("Enter The Sentence ").title()
print(name)

Enter The Sentence hello my self akash sharma from phagwara
Hello My Self Akash Sharma From Phagwara

In [64]:
name=input("Enter your Full Name").swapcase()
print(name)

Enter your Full Nameakash SHARMA
AKASH sharma

In [70]:
name=input("Enter your Name").capitalize().title()
print(name)

Enter your Nameakash sharma
Akash Sharma

In [71]:
akash="inro to python"
print(akash.upper())

INRO TO PYTHON

In [31]:
msg=input("Enter ypur name ")
print("shubham" in msg)

Enter ypur name akash
False

In [1]:
msg=input("Enter your name ")
print("akash" in  msg)

Enter your name akash
True

In [91]:
n=input("Enter a valid email id ")
print("qqqakash@gmail.com" + "itisakashsharma@gmail.com" in n)

Enter a valid email id qqqakash@gmail.com
False

In [ ]:
#function to add two number
def add():
    a=input("Enter the first digit:")
    b=input("Enter the second digit:")
    c=int(a)+int(b)
    return(c)

print("Functions in python")
d=add()
print(d)

In [ ]:
#function to swap two number
def swapping():
    a=int(input("Enter the 1 num:"))
    b=int(input("Enter the 2 num:"))
    temp=0
    a==temp
    b==a
    temp=a
    print("After swapping 1 num= ",b)
    print("After swapping 2 num= ",temp)
    return()
print("Swapping of numbers")
x=input("Enter your first name").title()
print(x)
y=input("Enter yous last name").title()
print(y)
swapping()

In [ ]:
a="akash"
a.startswith("a")

In [29]:
"hello".isalpha()

True

In [14]:
"8847563677".isdigit()

True

In [39]:
a="hello"
a.capitalize()

'Hello'

In [15]:
l="akash1999"
l.isalnum()

True

In [57]:
y="NAME"
print("a" in y.lower())

True

In [1]:
#function with parameters
def format_name(num1,num2):
    print("First Number is:",num1)
    print("Second Number is:",num2)
    total=num1+num2
    print(total)
    
format_name(5,6)

First Number is: 5
Second Number is: 6
11

In [20]:
#function with parameters
def info(name,address,pincode):
    print("The Name you entred :",name)
    print("The Addrss you enterd:",address)
    print("The PinCode you enterd",pincode)
    
name=input("Enter your Name:").title()
address=input("Enter your Address:").title()
pincode=input("Enter your PinCode:")
pincode.isdigit()
info(name,address,pincode)

Enter your Name:akash
Enter your Address:thapr
Enter your PinCode:01446
The Name you entred : Akash
The Addrss you enterd: Thapr
The PinCode you enterd 01446

In [35]:
#conditional statements with modules
b=input("Enter your Name:")
##b=input("Enter your Name:")
if b.isalnum() and not(b.isdigit()) :
    print(b)
else :
    print("Enter valid Name")

Enter your Name:1234
Enter valid Name

In [48]:
#conditional statements in a function 
def num(n):
    if n>5 or n<45:
        print("Hello")
    else :
        print("Byee")
        
n=int(input("Enter the didgit:"))
num(n)

Enter the didgit:5
Hello

In [31]:
class maths:
    def sharma(self):
        a=5
        b=6
        print(a+b)

add=maths()
print(type(add))
add.sharma()

<class '__main__.maths'>
11

In [1]:
#if with all statement
akash=[5,9,6,3,5,2,8]
if all([i>6 for i in akash]):
    print("All integers are Greater than 6")
else:
     print("All integers are Not Greater than 6")

All integers are Not Greater than 6

In [2]:
#if with any statement
akash=[5,9,6,3,5,2,8]
if any([j>6 for j in akash]):
    print("There is a integer Greater than the 6")
else:
    print("There is no integer Grater than 6")

There is a integer Greater than the 6

In [4]:
#enumerate function i.e. prints the  same statement = number of the elements exsisting in the list
for v in enumerate(akash):
    print("Dont know")

Dont know
Dont know
Dont know
Dont know
Dont know
Dont know
Dont know

In [1]:
#working with JSON file 
book = {}
book['akash'] = {
    'name': 'akash',
    'address': 'thapar colony phagwara',
    'phone': '9915187837'
}
book['shubham'] = {
    'name': 'shubham',
    'address': 'greater kailash phagwara',
    'phone': '8847563677'
}
import json
s=json.dumps(book)
with open("book.csv","w") as f:
    f.write(s)

In [4]:
book = {}
book['akash'] = {
    'name': 'akash',
    'address': 'thapar colony phagwara',
    'phone': '9915187837'
}
book['shubham'] = {
    'name': 'shubham',
    'address': 'greater kailash phagwara',
    'phone': '8847563677'
}
import json
s=json.dumps(book)
with open("book.txt","w") as f:
    f.write(s)

In [7]:
f=open("book.csv")
s=f.read()
s

'{"akash": {"name": "akash", "address": "thapar colony phagwara", "phone": "9915187837"}, "shubham": {"name": "shubham", "address": "greater kailash phagwara", "phone": "8847563677"}}'

In [8]:
f=open("book.txt")
s=f.read()
s

'{"akash": {"name": "akash", "address": "thapar colony phagwara", "phone": "9915187837"}, "shubham": {"name": "shubham", "address": "greater kailash phagwara", "phone": "8847563677"}}'

In [9]:
import json
book=json.loads(s)
book

{'akash': {'name': 'akash',
  'address': 'thapar colony phagwara',
  'phone': '9915187837'},
 'shubham': {'name': 'shubham',
  'address': 'greater kailash phagwara',
  'phone': '8847563677'}}

In [10]:
type(book)

dict

In [11]:
book['shubham']

{'name': 'shubham',
 'address': 'greater kailash phagwara',
 'phone': '8847563677'}

In [12]:
book['shubham']['phone']

'8847563677'

In [13]:
for person in book:
    print(book[person])

{'name': 'akash', 'address': 'thapar colony phagwara', 'phone': '9915187837'}
{'name': 'shubham', 'address': 'greater kailash phagwara', 'phone': '8847563677'}